:root {
  --font-headings: "Open Sans", sans-serif;
  --font-main: "Poppins", sans-serif;
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  background-image: url("../images/bg-desktop.svg");
  background-color: var(--violet);
  background-repeat: no-repeat;
  font-family: var(--font-headings);
  max-width: 100%;
  height: auto;
}

.social {
  display: flex;
  margin-right: 40px;
  margin-bottom: 40px;
  justify-content: flex-end;
}

.social a {
  text-decoration: none;
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  border: 2px solid #fff;
  position: relative;
}

.social a:hover {
  color: var(--soft-magenta);
  border-color: var(--soft-magenta);
}

.fa {
  margin: 10px;
}

.image {
  margin-top: 37px;
  margin-left: 80px;
}

.main {
  display: flex;
}

.title {
  font-size: 36px;
  margin: 10px;
  font-family: var(--font-main);
  font-weight: 600;
  color: #fff;
}

.paragraph {
  font-size: 18px;
  margin: 20px;
  font-family: var(--font-main);
  font-weight: 400;
  margin-right: 24px;
  color: #fff;
}

.btn {
  background-color: #fff;
  color: var(--violet);
  padding-left: 5px;
  width: 180px;
  height: 50px;
  border-radius: 50px;
  border: none;
  margin-left: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  color: #fff;
  background: var(--soft-magenta);
}

.user {
  margin: 40px;
  margin-top: 80px;
  justify-content: center;
}

.header {
  padding: 3rem;
  display: flex;
}

.logos {
  width: 220px;
  margin-left: 20px;
}

@media screen and (max-width: 700px) {
  .img {
    width: 500px;
    height: 320px;
  }
  .main {
    display: flex;
    width: 700px;
    flex-direction: column;
  }
  .user {
    margin: 30px;
    margin-top: 40px;
  }
  .title {
    margin-top: 80px;
    text-align: center;
  }
  .btn {
    margin-left: 230px;
    margin-top: 30px;
  }
  .social {
    margin-right: 30px;
    display: flex;
    margin: 20px;
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 375px) {
  body {
    background-image: url("../images/bg-mobile.svg");
  }
  .logos {
    width: 130px;
    margin-left: 5px;
  }
  .image {
    margin-top: 37px;
    margin: 30px;
    width: 300px;
    height: 220px;
  }
  .img {
    width: 300px;
    height: 220px;
  }
  .main {
    display: flex;
    width: 375px;
    flex-direction: column;
  }
  .user {
    margin: 30px;
    margin-top: 40px;
  }
  .title {
    margin: 10px;
    text-align: center;
  }
  .btn {
    margin-left: 70px;
  }
  .footer {
    width: 375px;
  }
}